* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --light-green: #7ed56fec;
  --medium-green: #55c57a;
  --dark-green: #28b485d2;
  --white: #fff;
  --black: #222;
  --text-color: #777;
  --curve-radius: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 130, 0.8)
    ),
    url("../images/back-image.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 1%, 100% 80%, 0% 100%);
}

.logo-box {
  position: absolute;
  top: 10px;
  left: 40px;
  cursor: pointer;
}

.logo {
  height: 80px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-primary {
  color: var(--white);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
}

.header-primary-main {
  font-size: 4rem;
  letter-spacing: 30px;
  display: block;
  animation: moveInLeft 1s ease-in;
}

.header-primary-sub {
  font-size: 1.3rem;
  letter-spacing: 17.4px;
  font-weight: 700;
  display: block;
  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
            transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
            transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link, .btn:visited{
    text-transform: uppercase;
    padding: 0.9rem 2.5rem;
    display: inline-block;
    border-radius: var(--curve-radius);
    transition: all .3s;
    position: relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

.btn-white{
    background: var(--white);
    color: var(--text-color);

}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: var(--curve-radius);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after{
    background-color: var(--white);
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
}


